<div class="card">
  <div class="card-body">
    <h1><%= @doc.title %></h1>
    <p><%= @doc.content %></p>
    <p><%= @doc.created_at.to_date.strftime("%A, %b %d")  %></p>
    <%= link_to 'All Docs', docs_path %> |
    <%= link_to 'Edit', edit_doc_path(@doc) %> |
    <%= link_to 'Delete', doc_path(@doc), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
<div>